#!/bin/sh

set -e

FP_VERSION=5.1.8.3
FILENAME=FileProtector-${FP_VERSION}-Linux.zip
SHA256SUM_TGZ="506b03ec385cbcd7fa12fd64498e094298b135fac063b5e65569e1f5b3cdbff9"

. /usr/share/debconf/confmodule

db_get file-protector-installer/local
echo "$SHA256SUM_TGZ  $RET/$FILENAME" \
| sha256sum -c > /dev/null 2>&1 \
|| db_set file-protector-installer/local /var/cache/file-protector-installer

db_get file-protector-installer/local
echo "$SHA256SUM_TGZ  $RET/$FILENAME" \
| sha256sum -c > /dev/null 2>&1 \
|| db_reset file-protector-installer/local 


while true; do
    db_input medium file-protector-installer/local || true
    db_go
    db_get file-protector-installer/local
    if [ -d "$RET" -a -f "$RET"/$FILENAME ]; then
		LOCAL="true"
		break;
    elif [ "x$RET" = "x" ]; then
		break;
    fi
    db_reset file-protector-installer/not_exist || true
    db_reset file-protector-installer/local || true
    db_text medium file-protector-installer/not_exist || true
    db_go
done

if [ "$LOCAL" != "true" ]; then
    db_reset file-protector-installer/httpget
    db_input medium file-protector-installer/httpget || true
    db_go
    db_get file-protector-installer/httpget
fi

