[Desktop Entry]
Version=1.0
Name=File Protector
Comment=Smart card file signer
Comment[it]=Per gestire la firma digitale con smart card dei documenti
Exec=file-protector %f
Icon=file-protector
StartupNotify=false
Terminal=false
Type=Application
Categories=Utility;Security;Java;
MimeType=application/pkcs7-mime;
